// Place all the styles related to the api/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-container {
    margin-top: 5%;
    margin-left: 3%;
    color: white;

    #link-to-new-page {
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
}

img {
    width: 200px;
    height: 280px;
}

.genre {
    margin-top: 40px;
    min-width: 100%;

    .movie-dropbar {
       max-width: 800px;
       margin-top: 5%;
       display: flex;
       float: left;
       border: 5px solid red;

       #movie-dropbar-description {
           font: 500;
           color: white;
       }
    }
    
}

.genre-list {
    margin-top: 15px; 
    display: flex;

    &:hover {
        .li {
            transform:
        translateX(-25%);
        }
    }
    
    li:hover ~ li {
        transform: translateX(25%);
    }

    li {
        margin-right: 9px;
        transition: transform 300ms ease 100ms; 
        &:after {
            content: "";
            display: block;
            // padding-top: 25%;
            // padding-bottom: 25%;
        } 

        &:hover {
            transform: scale(1.5);
        }
    }

    .movie-list-item-content:hover > #movie-title, #movie-year, #movie-rating, .movie-dropbar {
        transform: none;
    }

}


.movie-list-item-content {
   font-weight: 700;
   font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
   background-color: rgba(7, 7, 7, 0.8);
   height: 280px;
   position: relative;
     
   #movie-title {
       margin-top: 40%;
       margin-left: 10%;
       margin-right: 10%;
       font-size: 20px;
       color: blue($color: white);
   }
   
   .movie-item-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }

   #movie-year {
       font-weight: 500;
       margin-right: 20px;
       margin-top: 10px;
       color: blue($color: white);
       
   }

   #maturity-rating-PG13 {
       margin-left: 20px;
       margin-top: 20px;
       display: inline-block;
       flex-direction: row;
       margin-top: 10px;
       color: #1e7040;
       border: 2px solid  #1db35b;
       border-radius: 2px;
    }

   #maturity-rating-R {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    flex-direction: row;
    margin-top: 10px;
    color: #f60404;
    border: 1px solid #ad0b0b;
    border-radius: 2px;
    }

    #maturity-rating-NC-17 {
        margin-left: 20px;
        margin-top: 20px;
        display: inline-block;
        flex-direction: row;
        margin-top: 10px;
        color: #ad540b;
        border: 1px solid #ce620a;
        border-radius: 2px;
        }

    #open-dropdown-movie {
        display: inline-block;
        font-size: 15px;
        margin-left: 30%;
        margin-bottom: 5%;
        margin-top: 5px;
    }
}

.genre-browse {
    display: flex;
    flex-direction: row;
   #brows-icon {
       font-size: 80%;
       margin-left: 10px;
       margin-top: auto;
   }
}

.my-list-empty {
    display: flex;
    flex-direction: row;
   #my-list-message {
       display: inline-block;
       font-size: 100%;
       margin-left: auto;
       margin-right: 50%;
       margin-top: 20%;
   }
}



