// Place all the styles related to the api/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-container {
    margin-top: 5%;
    margin-left: 3%;
    color: white;

    h1 {
        font-size: 20px;
    }
}

img {
    width: 200px;
    height: 280px;
}

.genre {
    margin-top: 40px;
    min-width: 100%;
    
}

.genre-list {
    margin-top: 15px; 
    display: flex;
    
    li {
        float: left;
        margin-right: 9px;   
    }

}
